@media (min-width: 760px) {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 410px;
      margin-right: 15px;
      cursor: pointer;
      
    }
  }

  @media (max-width: 760px) {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 350px;
      margin-right: 15px;
      cursor: pointer;
    }
  }