.homeImg {
  cursor: pointer;
  margin-top: 30px;
  
}
.homeImg:hover{
    transform: rotate(2deg);
  }
@media (min-width: 760px) {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 410px;
      margin-right: 10px;
    }
  }

  @media (min-width: 300px)  {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 200px;
      margin-left: -35px;
    }
  }

  @media (max-width: 768px)  {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 360px;
      cursor: pointer;
    }
  }
  @media (min-width: 1024px) {
    /* Probably some parent element that limits the img width */
    .homeContainer {
      display: flex;
    }
    .homeImg {
      width: 610px;
      margin-left: 20px;
      
    }
  }

  // .buttonOne:hover {
  //   background-color: azure;
  //   border: 1px solid #43d9b8;
  // }
    .buttonOne {
      width: 230px;
      border: none;
      border-radius: 3px;
      background:#43d9b8;
      padding:5px;
      margin: 25px;
      margin-bottom: 60px;

    }

    // .buttonOne:hover {
    //   background: white;
    //   border: 1px solid  #43d9b8;
    // }

    .buttonTwo {
      width:230px;
      border: none;
      border-radius: 3px;
      background:#0dcaf0;
      padding:5px;
      margin:25px;
    }

    // .buttonTwo:hover{
    //   background: white;
    //   border: 1px solid #0dcaf0;
    // }

    // style={{margin:20,
    //   marginBottom:15,
    //   width:230,
    //   border:'none',
    //   borderRadius: 3,
    //   background:'#43d9b8',padding:5}}