.homeImg {
  cursor: pointer;
  
}
.homeImg:hover{
    transform: rotate(2deg);
  }
@media (min-width: 760px) {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 410px;
      margin-right: 10px;
    }
  }

  @media (max-width: 300px)  {
    /* Probably some parent element that limits the img width */
    .homeImg {
      width: 220px;
    }
  }

  @media (max-width: 760px)  {
    /* Probably some parent element that limits the img width */
    .home {
      display: flex;
      flex-wrap: wrap;
    }
    .homeImg {
      width: 360px;
      cursor: pointer;
    }
  }


  // .buttonOne:hover {
  //   background-color: azure;
  //   border: 1px solid #43d9b8;
  // }
    .buttonOne {
      margin: 20px;
      width: 230px;
      border: none;
      border-radius: 3px;
      background:#43d9b8;
      padding:5px;

    }

    .buttonOne:hover {
      background: white;
      border: 1px solid  #43d9b8;
    }

    .buttonTwo {
      margin:20px;
      width:230px;
      border: none;
      border-radius: 3px;
      background:#0dcaf0;
      padding:5px;
    }

    .buttonTwo:hover{
      background: white;
      border: 1px solid #0dcaf0;
    }

    // style={{margin:20,
    //   marginBottom:15,
    //   width:230,
    //   border:'none',
    //   borderRadius: 3,
    //   background:'#43d9b8',padding:5}}