
  .footer {
    border-top-right-radius: 30%;

    @media (max-width: 750px) {
      /* Probably some parent element that limits the img width */
      .footerImg {
        width: 150px;
        margin-right: 50px;
        border-bottom-left-radius: 47%;
      }
    }

  }